<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Registro</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-saga">
      <a class="navbar-brand text-white" href="{{url_for('index')}}">Saga Falabella</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ml-auto">
              <li class="nav-item active">
                  <a class="nav-link text-white" href="{{url_for('index')}}">Inicio <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                  <a class="nav-link text-white" href="{{url_for('login')}}">Login</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link text-white" href="{{url_for('registro')}}">Registro</a>
              </li>
          </ul>
      </div>
  </nav>
    <h1>Registro de Usuario</h1>
    <form action="/registro" method="post">
        Nombre: <input type="text" name="nombre" required><br>
        Email: <input type="email" name="email" required><br>
        Sexo: 
        <select name="sexo" required>
            <option value="Hombre">Hombre</option>
            <option value="Mujer">Mujer</option>
        </select><br>
        <input type="submit" value="Registrarse">
    </form>
    <section>
      <!-- Footer -->
      <footer class="text-center text-white" style="background-color: #004d38; width: 100%; padding: 20px 0;">
        <!-- Grid container -->
        <div class="p-4 pb-0">
          <!-- Section: CTA -->
          <section>
            <p class="d-flex justify-content-center align-items-center">
              <span class="me-3">Regístrate gratis</span>
              <button type="button" class="btn btn-outline-light btn-rounded">
                ¡Únete ahora!
              </button>
            </p>
          </section>
          <!-- Section: CTA -->
        </div>
        <!-- Grid container -->
    
        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2); width: 100%;">
          © 2024 Copyright:
          <a class="text-white" href="https://sagafalabella.com/">sagafalabella.com</a>
        </div>
        <!-- Copyright -->
      </footer>
      <!-- Footer -->
    </section>
</body>
</html>
